pkgbase = server-box-bin
	pkgdesc = ServerBox - A flutter app that helps you connect to your server.
	pkgver = 1.0.1189
	pkgrel = 1
	url = https://github.com
	arch = x86_64
	license = MIT
	depends = fuse2
	provides = server-box
	conflicts = server-box
	options = !strip
	source = https://github.com/lollipopkit/flutter_server_box/releases/download/v1.0.1189/ServerBox_1189_amd64.AppImage
	sha256sums = b38d9301b24179941d1a314e4968c1535c7478cc1f1cf6de3a6f8c79706c5312

pkgname = server-box-bin
